.App {
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.kotak {
  text-align: center;
  justify-content: center;
  display: flex;
}

.pesan {
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 4px;
  margin-top: 20px;
}
